<form name="userForm" ng-submit="submitUserData()" class="form-horizontal" novalidate>
  <div class="mdl-grid">
    <div class="mdl-cell--12-col">
      <h5>
        User Information 
      </h5>
    </div>
    <div class="mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" type="text" id="firstname" ng-model="user.firstName" required>
           <label class="mdl-textfield__label" for="firstname">First Name...</label>
       </div>
    </div>
    <div class="mdl-cell--12-col">
       <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" type="text" id="lastname" ng-model="user.lastName" required>
           <label class="mdl-textfield__label" for="firstname">Last Name...</label>
       </div>
    </div>
    <div class="mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" type="text" id="username" ng-model="user.username" required>
           <label class="mdl-textfield__label" for="username">Username...</label>
       </div>
    </div>
    <div class="mdl-cell--12-col">
       <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input ng-hide="editingUser" type="password" class="mdl-textfield__input" name="password1" ng-model="user.password" required>
           <input ng-show="editingUser" type="password" class="mdl-textfield__input" name="password2" ng-model="user.password" required>
           <label ng-hide="editingUser" class="mdl-textfield__label" for="password1">Password...</label>
           <label ng-show="editingUser" class="mdl-textfield__label" for="password2">Leave blank to save password...</label>
       </div>
    </div>
    
    <div class="mdl-cell--12-col">
      <h5>
        Account Type
      </h5>
    </div>
    <div class="mdl-cell--4-col">
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
        <input type="radio" id="option-1" class="mdl-radio__button" name="options" ng-model="user.accountType" value="Accreditator" checked>
        <span class="mdl-radio__label">Accreditator</span>
      </label>
    </div>
    <div class="mdl-cell--4-col">
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
        <input type="radio" id="option-2" class="mdl-radio__button" name="options" ng-model="user.accountType" value="Faculty">
        <span class="mdl-radio__label">Faculty</span>
      </label>
    </div>
    <div class="mdl-cell--4-col">
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
        <input type="radio" id="option-3" class="mdl-radio__button" name="options" ng-model="user.accountType" value="Administration">
        <span class="mdl-radio__label">Administration</span>
      </label>
    </div>
    </br>
    </br>
    </br>
    </br>
    <div class="mdl-cell--12-col"></div>
      <div class="mdl-cell--6-col">
        <button ng-hide="editingUser" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Register</button>
        <button ng-show="editingUser" ng-click="backToUserManage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back</button>
        <button ng-show="editingUser" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit Changes</button>
    </div>
    </div>
  </form>