<form name="userForm" ng-submit="submitUserData()" class="form-horizontal" style="margin-top:30px;" novalidate>
    <div class="form-group">
        <label class="col-xs-3 control-label">First Name</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="fname" ng-model="user.firstName" required />
            <span class="error" ng-show="userForm.fname.$touched && userForm.fname.$invalid">*Please enter your first name.</span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-xs-3 control-label">Last Name</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="lname" ng-model="user.lastName" required />
            <span class="error" ng-show="userForm.lname.$touched && userForm.lname.$invalid">*Please enter your last name.</span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-xs-3 control-label">Username</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="username" ng-model="user.username" required />
            <span class="error" ng-show="userForm.username.$touched && userForm.username.$invalid">*Please enter your username.</span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-xs-3 control-label">Password</label>
        <div class="col-xs-5">
            <input ng-hide="editingUser" type="password" class="form-control" name="password" ng-model="user.password" placeholder="Enter a new password." required />
            <input ng-show="editingUser" type="password" class="form-control" name="password" ng-model="user.password" placeholder="Leave blank to save password." />

            <span class="error" ng-show="!editingUser && userForm.password.$touched && userForm.password.$invalid">*Please enter your password.</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Account Type</label>
        <div class="col-xs-5 selectContainer">
            <select class="form-control" name="accountType" ng-model="user.accountType">
                <option value="">Select Account Type</option>
                <option value="Accreditor">Accreditor</option>
                <option value="Faculty">Faculty</option>
                <option value="Administration">Administration</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button ng-hide="editingUser" type="submit" class="btn btn-primary">Register</button>
            <button ng-show="editingUser" ng-click="backToUserManage()" class="btn btn-primary">Back</button>
            <button ng-show="editingUser" type="submit" class="btn btn-primary">Submit Changes</button>
        </div>
    </div>
  </form>