<button id="back-button" class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon mdl-color--primary mdl-color-text--white" onclick="history.go(-1);">
  <i class="material-icons">arrow_back</i>
</button>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-color--primary-dark">
    <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
      <h2>{{ newObjective.name }}</h2>
      {{ newObjective.description }}   
      <button ng-click="toggleAddOutcome()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="margin-right:15px; float:right;">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
</section>

<div ng-show="addNewOutcome" class="modal">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp register-form-card">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <h4>Create Outcome</h4>
        <form name="outcomeForm" ng-submit="submitOutcomeData()" class="form-horizontal" novalidate>
          <div class="mdl-grid">

            <div class="mdl-cell--12-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                   <input class="mdl-textfield__input" type="text" id="outcomename" ng-model="outcome.name" required>
                   <label class="mdl-textfield__label" for="outcomename">Outcome Name...</label>
               </div>
            </div>
            <div class="mdl-cell--12-col">
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                   <textarea class="mdl-textfield__input" type="text" id="outcomedesc" ng-model="outcome.description" required></textarea>
                   <label class="mdl-textfield__label" for="outcomedesc">Outcome Description...</label>
               </div>
            </div>
            <div class="mdl-cell--12-col">
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                   <textarea class="mdl-textfield__input" type="text" id="outcometerm" ng-model="outcome.term" required></textarea>
                   <label class="mdl-textfield__label" for="outcometerm">Outcome Term...</label>
               </div>
            </div>
            </br>
            </br>
            </br>
            </br>
            <div class="mdl-cell--12-col"></div>
              <div class="mdl-cell--6-col">
                  <button type="button" ng-click="toggleAddOutcome()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Cancel</button>
                  <button style="float:right;" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit Outcome</button>
            </div>
            </div>
          </form>
      </div>
    </div>
  </section>
</div>

<section ng-repeat="outcomeData in newObjective.outcomes" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4>
        {{outcomeData.name}} - {{outcomeData.term}}
      </h4>
      
      <h5>
        {{outcomeData.description}}
      </h5>
      
      <!--Nested Cards-->
      <section class="section--center mdl-grid">
        <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
          <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text">Assessment Method UI Test 1</h2>
            <div class="mdl-layout-spacer"></div>
             <!-- Right aligned menu below button -->
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="{{outcomeData.name}}t1">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="{{outcomeData.name}}t1">
              <li ng-click="" class="mdl-menu__item">Delete Outcome</li>
              <li class="mdl-menu__item">Edit Outcome</li>
              <li class="mdl-menu__item">Add Assessment Method</li>
            </ul>
          </div>
          <div class="mdl-card__supporting-text"></div>
          <div class="mdl-card__actions">
            <a href="#" class="mdl-button">Handle this test card</a>
          </div>
        </div>
        
        <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
          <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text">Assessment Method UI Test 2</h2>
            <div class="mdl-layout-spacer"></div>
             <!-- Right aligned menu below button -->
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="{{outcomeData.name}}t2">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="{{outcomeData.name}}t2">
              <li ng-click="" class="mdl-menu__item">Delete Outcome</li>
              <li class="mdl-menu__item">Edit Outcome</li>
              <li class="mdl-menu__item">Add Assessment Method</li>
            </ul>
          </div>
          <div class="mdl-card__supporting-text"></div>
          <div class="mdl-card__actions">
            <a href="#" class="mdl-button">Handle this test card</a>
          </div>
        </div>
        
      </section>
      <!--End Nested Cards-->
      
    </div>
    <div class="mdl-card__actions">
      <a href="#" class="mdl-button">Read our features</a>
    </div>
  </div>
  <!-- Right aligned menu below button -->
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="{{outcomeData._id}}">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="{{outcomeData._id}}">
    <li ng-click="deleteOutcome(outcomeData._id, outcomeData.name)" class="mdl-menu__item">Delete Outcome</li>
    <li class="mdl-menu__item">Edit Outcome</li>
    <li class="mdl-menu__item">Add Assessment Method</li>
  </ul>
</section>

<!--This is here because for some reason it makes the buttons on the cards work-->
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp"></section>
